<?xml version="1.0" encoding="UTF-8" ?>
<!--

    This file is part of the JCROM project.
    Copyright (C) 2008-2019 - All rights reserved.
    Authors: Olafur Gauti Gudmundsson, Nicolas Dos Santos

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<configuration>

    <!-- ====================================================================== -->
    <!-- ===== log4j appenders ================================================ -->
    <!-- ====================================================================== -->

    <!-- The threshold definition from min -> max -->
    <!-- trace debug info warn error fatal -->

    <!-- logback console appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned to the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <!-- layout class="ch.qos.logback.classic.PatternLayout">
          <pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>
        </layout-->
        <encoder>
            <!-- pattern>%d{HH:mm:ss} %5p [%thread] %-5level %logger{5} - %msg%n</pattern -->
            <pattern>%d{HH:mm:ss} %5p | %t | %-5level %logger{32} - [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Basic file appender -->
    <!-- appender name="file" class="ch.qos.logback.core.FileAppender">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%d{HH:mm:ss} %5p | %t | %-5level %logger{32} - [%file:%line] - %msg%n</pattern>
      </layout>
      <File>project.log</File>
    </appender-->

    <!-- log4j logfile appender -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>project.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>project.%d{yyyy-MM-dd}.log</FileNamePattern>
            <!-- keep 7 days' worth history -->
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss} %5p | %t | %-5level %logger{32} - [%file:%line] - %msg%n</pattern>
        </layout>
    </appender>

    <root>
        <level value ="WARN" />
        <appender-ref ref="console" />
    </root>

    <logger name="ch.qos.logback">
        <level value="ERROR"/>
    </logger>

    <logger name="org.jcrom">
        <level value="TRACE"/>
    </logger>

</configuration>